.text-area {
    -fx-highlight-fill: #00ff00;
    -fx-text-fill: #00ff00;
    -fx-control-inner-background: #E90064;
    -fx-highlight-text-fill: #E90064;
}

.text-area:focused .content {
    -fx-background-color: transparent, #E90064, transparent, #E90064;
}

/*Hazard*/