.text-area {
    -fx-highlight-fill: #F1DEC9;
    -fx-text-fill: #F1DEC9;
    -fx-control-inner-background: #655340;
    -fx-highlight-text-fill: #655340;
}

.text-area:focused .content {
    -fx-background-color: transparent, #655340, transparent, #655340;
}

/*Coffee Theme*/