.root {
    -fx-background-color: #000000;
    -fx-border-color: #000000;
}

.text-area {
    -fx-control-inner-background:#000000;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
    -fx-background-insets: 0;
    -fx-background-color: #000000;
}

.thumb, .increment-arrow, .decrement-arrow {
    -fx-background-color: #1fc600;
    -fx-border-color: #1fc600;
    -fx-border-width: 0;
}

.track, .increment-button, .decrement-button, .corner {
    -fx-background-color: #000000;
    -fx-border-color: #000000;
}

